ul {
    margin: 0px;
    list-style: none;
}
li > input  {
    width: auto;
}
input {
    font-size: 15px;
    border: 1px #d0def5 solid;
    width: 10em;
}
input.boolean {
    width: auto;
}
form {
    width: 30em;
}
div.forms {
    display: flex;
}
div.forms > form {
    margin-left: 20px;
    margin-right: 20px;
}
form > h2 {
    margin-top: 0px;
}
div.members {
    display: flex;
    justify-content: space-between;
}
div.form-field {
    display: flex;
    justify-content: space-between;
}
div.member-field > .form-field{
    display: flex;
    align-items: center;
}
.inpt {
    margin: 3px;
}
#editing {
    display: flex;
}
#sbmt {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px #396dc0 solid;
    color: #396dc0;
    font-size: 16px;
    font-weight: bold;
    height: 2em;
    width: 6em;
}
