ul {
    margin: 0px;
    list-style: none;
}
input {
    font-size: 15px;
    border: 1px #d0def5 solid;
    width: 8em;
}
form {
    padding: 15px;
}
div.form-field {
    display: flex;
    justify-content: space-between;
}
.inpt {
    margin: 3px;
}
#editing {
    display: flex;
}
#sbmt {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px #396dc0 solid;
    color: #396dc0;
    font-size: 16px;
    font-weight: bold;
    height: 2em;
    width: 6em;
}
