{%- extends 'admin.html' %}
{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{%- endblock styles %}
{%- block content %}
<div>
<h2>{{ race['nimi'] }}</h2>
<ul>
{%- for serie in series %}
<li><a href="./{{ race['nimi'] }}/{{ serie['nimi'] }}">{{ serie['nimi'] }}</a></li>
{%- endfor %}
</ul>
</div>
<div>
<form class="edit" method="POST">
<h2>Lisää sarja</h2>
{{ series_form.csrf_token }}
<table class="table-form">
{{ table_with_errors(series_form.name) }}
{{ table_with_errors(series_form.duration) }}
{{ table_with_errors(series_form.distance) }}
{{ table_with_errors(series_form.start_t) }}
{{ table_with_errors(series_form.stop_t) }}
</table>
<input type="submit" value="Tallenna" class="submit">
</form>
</div>
{% endblock content %}

{%- macro table_with_errors(field) %}
<tr>
{%- if field.errors %}
<td class="label">{{ field.label }}</td><td class="input">{{ field(class='has_error', **kwargs) }}</td>
<td><ul class="errors">{% for error in field.errors  %}<li>{{ error|e }}</li>{% endfor %}</ul></td>
{%- else %}
<td class="label">{{ field.label }}</td><td class="input">{{ field(class='input') }}</td><td></td>
{%- endif %}
</tr>
{%- endmacro %}