{% extends 'admin.html' %}
{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{%- endblock styles %}
{%- block content %}
<div>
<ul>
{%- for team in teams %}
<li><a href="{{ url_for('admin_team', race=race, series=series, team=team['nimi']) }}">{{ team['nimi'] }}</a></li>
{%- endfor %}
</ul>
</div>
<div class="forms">
<form method="POST">
<h2>Muokkaa Sarjaa</h2>
{{ series_form.csrf_token }}
<input type="hidden" name="form-name" value="series">
{{ with_errors(series_form.name) }}
{{ with_errors(series_form.duration) }}
{{ with_errors(series_form.distance) }}
{{ with_errors(series_form.start_t) }}
{{ with_errors(series_form.stop_t) }}
<div class="delete">{{ series_form.delete.label }}{{ series_form.delete(Class='boolean') }}</div>
<input type="submit" value="Tallenna" id="sbmt">
</form>
<form method="POST">
{{ team_form.csrf_token }}
<input type="hidden" name="form-name" value="team">
<h2>Lisää Joukkue</h2>
{{ with_errors(team_form.name) }}
<div class="members">
<label>Jäsenet</label>
<div>
<div class="member-field">{{ with_errors(team_form.mem1) }}</div>
<div class="member-field">{{ with_errors(team_form.mem2) }}</div>
<div class="member-field">{{ with_errors(team_form.mem3) }}</div>
<div class="member-field">{{ with_errors(team_form.mem4) }}</div>
<div class="member-field">{{ with_errors(team_form.mem5) }}</div>
</div>
</div>
<br />
{{ with_errors(team_form.password) }}
{{ with_errors(team_form.pw_again) }}
<input type="submit" value="Tallenna" id="sbmt">
</form>
</div>
{%- endblock content %}

{% macro with_errors(field) %}
<div class="form-field">
{%- if field.errors %}
{%- set css_class = 'has_error'%}
{{ field.label }}{{ field(class=css_class, **kwargs) }}
<ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
{%- else %}
{{ field.label }}{{ field(class="inpt") }}
{%- endif %}
</div>
{% endmacro %}