<!DOCTYPE html>
<html lang="{% block language %}en{% endblock language %}">

<head>
  {%- block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {%- endblock styles %}
  {%- block scripts %}
  {%- endblock scripts %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Document{% endblock title %}</title>
</head>

<body>
  {%- block nav %}{% endblock nav %}
  {%- block flashes %}
  {%- with messages = get_flashed_messages(with_categories=true) %}
  {%- if messages %}
  <ul class=flashes>
    {%- for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {%- endfor %}
  </ul>
  {%- endif %}
  {%- endwith %}
  {%- endblock flashes %}
  <div class="content">
    {%- block content %}{% endblock content %}
  </div>
</body>

</html>